---
layout: default
---

<div class="home">
  <div class="l-container">
    <div class="l-grid">
      <h1 class="home__title">Hi, I'm Phillip.<br>I create <em>websites</em>.</h1>
    </div>

    <div class="home__work">
      <div class="l-grid">
        <h2 class="home__subheading">Here's some of my work</h2>
      </div>
      <div class="home__card-grid">
        {% for item in site.work limit : 3 %}
          <div class="home__card-grid-item">
            {% assign title = item.title %}
            {% if item.card_title %}{% assign title = item.card_title %}{% endif %}
            <a href="{{ item.url }}" class="home__card-grid-item-link">
              {% include perspective-card.html title=title background=item.thumbnail %}
            </a>
          </div>        
        {% endfor %}
      </div>
    </div>

    <div class="home__projects">
      <div class="l-grid">
        <h2 class="home__subheading">And some of my projects</h2>
      </div>
      <div class="home__card-grid">
        {% for item in site.projects %}
          <div class="home__card-grid-item">
            <a target="_blank" href="{{ item.url }}" class="home__card-grid-item-link">
              {% include perspective-card.html title=item.title background=item.thumbnail %}
            </a>
          </div>        
          {% endfor %}
      </div>
    </div>
</div>
