<head>
  <title>REMEMBER TO SET TITLE</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Trocchi" rel="stylesheet">
  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">

  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.analytics }}');
  </script>
</head>