.index {
  &__title {
    @include media($bp-small) {
      margin-top: 6rem;
      font-size: 3.5em;
      @include grid-column(6);
      @include grid-push(1);
    }
  }

  em {
    font-style: normal;
    color: $color-accent;
  }

  &__description {
    @include grid-column(6);
    @include grid-push(3);
  }
}

.work {
  margin-top: 3rem;
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__item {
    flex: 1 auto;
    margin: 0.5rem;

    @include media($bp-small) {
      & + * {
        margin-left: 1.5rem;
      }
    }
  }
}