.index {
  &__title {
    @include media($bp-small) {
      margin-top: 6rem;
      font-size: 3.5em;
      @include ingrid-column(6);
      @include ingrid-push(1);
    }
  }

  em {
    font-style: normal;
    color: $color-accent;
  }

  &__description {
    @include ingrid-column(6);
    @include ingrid-push(3);
  }
}

.work {
  margin-top: 3rem;
  @include media($bp-small) {
    margin-top: 5rem;
  }

  &__title {
    @include media($bp-small) {
      font-size: 2em;
      @include ingrid-column(8);
      @include ingrid-push(1);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    @include media($bp-small) {
      flex-direction: row;
    }
  }

  &__item {
    flex: 1 auto;
    margin: 0.5rem;
    cursor: pointer;

    &-link {
      outline: none;
    }

    @include media($bp-small) {
      & + * {
        margin-left: 1.5rem;
      }
    }
  }
}

.projects {
  margin-top: 6rem;

  &__title {
    @include media($bp-small) {
      font-size: 2em;
      @include ingrid-column(8);
      @include ingrid-push(1);
    }
  }
}