.header {
  padding: 1rem 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header__logo {
  &-link {
    text-decoration: none;
    color: $color-fg;
  }
}