.showcase {
  @include media($bp-medium) {
    padding: 1.5rem 0;
  }

  &__container {
    margin: 0 auto;
    width: 300px;
    height: 180px;
    overflow-y: hidden;
    @include media($bp-small) {
      width: 400px;
      height: 240px;
    }
    @include media($bp-medium) {
      width: 600px;
      height: 360px;
      overflow-y: scroll;      
    }
    transform: perspective(1200px) rotateY(15deg);
    position: relative;
    border: 1px solid rgba($color-fg, 0.8);

    box-shadow: 1.5rem 1.5rem 0 rgba($color-fg, 0.1);
  }

  &__toolbar {
    background-color: #ddd;
    overflow: auto;
    pointer-events: none;

    &-title {
      border-radius: 0.2rem;
      font-size: 0.4em;
      display: block;
      padding: 0.2em 0.5em;
      margin: 0.3rem;
      background: $color-bg;
    }
  }

  &__image {
    width: 100%;
    display: block;
  }
}